@charset "utf-8";
@mixin gradationColor{
  background-image: linear-gradient(rgb(156,227,225) 0%,rgb(108,198,196) 100%);
}
$siteColor:#6CC6C4;
$green: #aec24c;
$textColor: #515151;
*{
  box-sizing: border-box;
  text-decoration: none;
  word-break: break-all;
}
h2{ font-size: 26px; font-weight: normal; color: $textColor;}
h3{ font-size: 14px; color: $textColor;}
h4{ font-size: 13px; color: $textColor;}
p{ font-size: 10px; color: $textColor;}
body {
  margin: 0 auto;
  text-align: center;
  background: #F6F6F6;
  color: #515151;
  font-family: Verdana,Arial,Helvetica,'meirio','メイリオ','Hiragino Maru Gothic Pro','ヒラギノ丸ゴ Pro W4',Osaka,'ＭＳ Ｐゴシック',sans-serif;
  ul {list-style: none;}

  .inner{
    text-align: left;
    max-width: 640px;
    width: 100%;
    @media (max-width: 1195px){
      max-width: 100%;
      margin: 0  10px;
    }
    .main_title{
      @include gradationColor;
      background-color: #000;
      border: 1px solid $siteColor;
      border-radius: 5px 5px 0 0;
      padding: 45px 0 35px 20px;
      h1{
        font-size: 20px;
      }
    }
    .main_page{
      background-color: #fff;
      border-radius: 0 0 5px 5px;
      padding: 35px 20px 0 20px;
      .midashi_title{
        border-bottom: 3px solid $siteColor;
        padding-bottom: 15px;
        margin-bottom: 45px;
        p{
          font-size: 16px;
          font-weight: bold;
        }
      }
      .main_text_container{
        padding: 0 20px 40px 10px ;
        .midashi_text{
          p{
            color: $siteColor;
            font-size: 15px;
            font-weight: bold;
          }
        }
        .main_text{
          :nth-child(n+1){
            font-weight: normal;
            line-height: 1.7;
            margin-top: 15px;
          }
        }
      }
      .midashi_title02{
        border-bottom: 3px solid #6CC6C4;
        padding-bottom: 15px;
        p{
          font-size: 16px;
        }
      }
      .main_text02{
        padding-bottom: 35px;
      }
      .main_text02-table{
        margin-top: 15px;
        table{
          border: 1px solid #999999;
          font-size: 13px;
          color: $textColor;
          text-align: center;
          width: 100%;
          tr{
            border: 1px solid #999999;
            th,td{
              border: 1px solid #999999;
              }
            th{
              background-color: #D1D1D1;
              padding: 15px 30px;
            }
            .table_column1{
              padding: 0 35px;
            }
            td{
              padding: 15px 30px;
            }
            .table_column4{
              padding: 0 50px;
            }
          }
        }
      }
      .main_text02-text{
        h4{
          font-weight: lighter;
          :nth-of-type(4){
            padding-top: 10px;
          }
        }
        .padding_top{
          padding-top: 20px;
        }
        .margin-top{
          margin-top: 5px;
        }
        .lh{
          padding-top: 10px;
        }
      }
      
    }
  }
}
