@charset "utf-8";
$siteColor:#6CC6C4;
$green: #aec24c;
$textColor: #515151;
*{
  box-sizing: border-box;
  text-decoration: none;
  word-break: break-all;
}
h2{ font-size: 26px; font-weight: normal; color: $textColor;}
h3{ font-size: 14px; color: $textColor;}
h4{ font-size: 13px; color: $textColor;}
p{ font-size: 10px; color: $textColor;}
body {
  margin: 0 auto;
  text-align: center;
  background: #F6F6F6;
  color: #515151;
  font-family: Verdana,Arial,Helvetica,'meirio','メイリオ','Hiragino Maru Gothic Pro','ヒラギノ丸ゴ Pro W4',Osaka,'ＭＳ Ｐゴシック',sans-serif;
  ul , li{list-style: none;}

  .service_midashi-title{
    border-bottom: 3px solid #6CC6C4;
    padding-bottom: 15px;
    p{
      font-size: 16px;
      font-weight: bold;
    }
  }
  .service_text_container{
    padding-bottom:40px;
    .service_midashi{
      p{
        color: $siteColor;
        font-size: 15px;
        font-weight: bold;
        padding: 20px 0;
      }
    }
    .service_text{
      p{
        font-weight: normal;
        font-size: 13px;
        display: block;
        line-height: 180%;
        /*margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;*/
      }
    }
  }
}
